- checks.each do |check|
  span.rounded-full.px-2.text-xs.whitespace-nowrap class=dns_pill_classes(check.status) title=(check.note || check.found)
    = "#{dns_pill_icon(check.status)} #{check.record}"
