- page_title "Forgot Password"

.mx-auto.mt-16.max-w-md
  h1.mb-4.text-2xl.font-bold Forgot your password?

  = render "shared/flash"

  = form_with url: passwords_path, class: "rounded-lg border border-slate-200 dark:border-slate-800 bg-white dark:bg-slate-900 p-5" do |form|
    .mb-4
      = form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "w-full rounded-md border border-slate-200 dark:border-slate-800 bg-slate-100 dark:bg-slate-800 px-2.5 py-1.5"
    = form.submit "Email reset instructions", class: "inline-block cursor-pointer rounded-md border border-accent bg-accent px-3.5 py-1 text-sm font-medium text-white"
